.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

table {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 8px;
    border-bottom: 2px solid #ddd;
  }
  
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }